header.landingpage {
    padding-top: 10rem;
    padding-bottom: calc(10rem - 4.5rem);
    background: url("../images/koalabg.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-size: cover;
  }
  
  @media (min-width: 992px) {
    header.landingpage {
      height: 100vh;
      min-height: 40rem;
      padding-top: 4.5rem;
      padding-bottom: 0;
    }
    header.landingpage p {
      font-size: 1.15rem;
    }
    header.landingpage h1 {
      font-size: 3rem;
    }
  }
  @media (min-width: 1200px) {
    header.landingpage h1 {
      font-size: 3.5rem;
    }
  }

  .title {
    color:white;
    background-color:green;
    text-align:center;
    position:fixed;
    top:0;
    left:350px;
    padding: 0px 100px;
    opacity:90%;
    font-size:300%;
  }

  .index-buttons {
    background-color:green;
    text-align:center;
    padding: 0px;
    position:fixed;
    left:400px;
    right:400px;
    top:150px;
    opacity:90%;
    border-style:solid;
    border-color:black;
    border-width:2px;
    font-size:200%;
  }

  .index-buttons a {
    color:white;
    display:block;
    padding:50px;
    border-style:solid;
    border-color:black;
    text-decoration:none;
    border-width:2px;
  }

  .index-buttons a:hover {
    color:green;
    background-color:white;
    text-decoration:none;
  }

  .rules-title {
    color:white;
    background-color:green;
    text-align:center;
    position:fixed;
    top:0;
    left:300px;
    padding: 0px 100px;
    opacity:90%;
    font-size:200%;
  }

  .howtoplay-title {
    color:white;
    background-color:green;
    position:fixed;
    text-align:center;
    font-size:200%;
    top:130px;
    left:200px;
    right:200px;
    height:500px;
    border-style:solid;
    border-color:black;
    border-width:3px;
    opacity:90%;
    padding:10px;
  }

  .how-to-play {
    color:white;
    background-color:green;
    position:fixed;
    width:800px;
    left:325px;
    top:200px;
    font-size:200%;
    border-style: solid;
    border-color:black;
    border-width:3px;
    padding:0px;
    text-align:center;
    opacity:90%;
  }

  .howtoplay-startgame {
    background-color:green;
    text-align:center;
    position:fixed;
    top:550px;
    left:800px;
    padding:20px 20px;
    color:white;
    border-style:solid;
    border-color:black;
    border-width:3px;
    opacity:90%;
  }

  .howtoplay-returnhome {
    background-color:green;
    text-align:center;
    position:fixed;
    top:550px;
    left:500px;
    padding:20px 20px;
    color:white;
    border-style:solid;
    border-color:black;
    border-width:3px;
    text-decoration:none;
    opacity:90%;
  }

  .howtoplay-buttons a {
    text-decoration:none;
    opacity:90%;
  }

  .howtoplay-buttons a:hover{
    background-color:white;
    color:green;
    opacity:90%;
  }

  .game-title{
    color:white;
    background-color:green;
    position:fixed;
    text-align:center;
    font-size:200%;
    top:130px;
    left:200px;
    right:200px;
    height:500px;
    border-style:solid;
    border-color:black;
    border-width:3px;
    opacity:90%;
    padding:10px;
  }

  .guess-options {
    color:white;
    background-color:green;
    position:fixed;
    width:400px;
    left:725px;
    top:350px;
    font-size:100%;
    border-style: solid;
    border-color:black;
    border-width:2px;
    padding:0px;
    text-align:center;
    opacity:90%;
  }

  .guess-options a {
    color:white;
    display:block;
    padding:20px;
    border-style:solid;
    border-color:black;
    text-decoration:none;
    border-width:2px;
  }

  .guess-options a:hover {
    color:green;
    background-color:white;
    text-decoration:none;
  }

  .returnhome {
    background-color:green;
    text-align:center;
    position:fixed;
    top:0px;
    right:100px;
    padding:20px 20px;
    color:white;
    border-style:solid;
    border-color:black;
    border-width:2px;
    text-decoration:none;
    opacity:90%;
  }

  .game-homebutton a{
    text-decoration:none;
    opacity:90%;
  }

  .game-homebutton a:hover {
    background-color:white;
    color:green;
    opacity:90%;
  }

  .incorrect-title {
    color:white;
    background-color:red;
    position:fixed;
    text-align:center;
    font-size:200%;
    top:130px;
    left:200px;
    right:200px;
    height:500px;
    border-style:solid;
    border-color:black;
    border-width:3px;
    opacity:90%;
    padding:10px;
  }
  .incorrect-statement {
    color:white;
    background-color:red;
    position:fixed;
    width:500px;
    left:700px;
    top:300px;
    font-size:100%;
    border-style: solid;
    border-color:black;
    border-width:2px;
    padding:0px;
    text-align:center;
    opacity:80%;
    font-size:150%;
  }

  .correct-title {
    color:white;
    background-color:green;
    position:fixed;
    text-align:center;
    font-size:200%;
    top:130px;
    left:200px;
    right:200px;
    height:500px;
    border-style:solid;
    border-color:black;
    border-width:3px;
    opacity:90%;
    padding:10px;
  }
  .correct-statement {
    color:white;
    background-color:green;
    position:fixed;
    width:500px;
    left:700px;
    top:300px;
    font-size:100%;
    border-style: solid;
    border-color:black;
    border-width:2px;
    padding:0px;
    text-align:center;
    opacity:80%;
    font-size:150%;
  }

  .continue-button-correct {
    background-color:green;
    text-align:center;
    position:fixed;
    top:550px;
    right:300px;
    padding:20px 20px;
    color:white;
    border-style:solid;
    border-color:black;
    border-width:2px;
    text-decoration:none;
    opacity:90%;
  }

  .continue-correct a {
    text-decoration:none;
  }
  .continue-correct a:hover {
    color:green;
    background-color:white;
  }

  .continue-button-incorrect {
    background-color:red;
    text-align:center;
    position:fixed;
    top:550px;
    right:300px;
    padding:20px 20px;
    color:white;
    border-style:solid;
    border-color:black;
    border-width:2px;
    text-decoration:none;
    opacity:90%;
  }

  .continue-incorrect a {
    text-decoration:none;
  }
  .continue-incorrect a:hover {
    color:red;
    background-color:white;
  }

.animal-image {
  position:fixed;
  top:220px;
  left:280px;
  z-index:100;
}

.bush-image {
  position:fixed;
  top:300px;
  left:220px;
  z-index:100;
}

.congratulations {
  color:white;
  background-color:green;
  position:fixed;
  text-align:center;
  font-size:300%;
  top:130px;
  left:200px;
  right:200px;
  height:500px;
  border-style:solid;
  border-color:black;
  border-width:3px;
  opacity:90%;
  padding:10px;
}

.score {
  color:white;
  position:fixed;
  top:220px;
  left:570px;
  font-size:180%;
}

.info-returnhome {
  background-color:green;
  text-align:center;
  position:fixed;
  top:550px;
  left:600px;
  padding:20px 20px;
  color:white;
  border-style:solid;
  border-color:black;
  border-width:3px;
  text-decoration:none;
  opacity:90%;
}

.info-returnhome1 {
  background-color:green;
  text-align:center;
  position:fixed;
  top:550px;
  left:800px;
  padding:20px 20px;
  color:white;
  border-style:solid;
  border-color:black;
  border-width:3px;
  text-decoration:none;
  opacity:90%;
}

.nextanimal {
  background-color:green;
  text-align:center;
  position:fixed;
  top:550px;
  left:1000px;
  padding:20px 20px;
  color:white;
  border-style:solid;
  border-color:black;
  border-width:3px;
  text-decoration:none;
  opacity:90%;
}

.prev-animal {
  background-color:green;
  text-align:center;
  position:fixed;
  top:550px;
  left:800px;
  padding:20px 20px;
  color:white;
  border-style:solid;
  border-color:black;
  border-width:3px;
  text-decoration:none;
  opacity:90%;
}

.info-button a{
  text-decoration:none;
  opacity:90%;
}

.info-button a:hover{
  background-color:white;
  color:green;
  opacity:90%;
}

.koala-desc {
  color:white;
  background-color:green;
  position:fixed;
  width:500px;
  left:700px;
  top:250px;
  font-size:100%;
  border-style: solid;
  border-color:black;
  border-width:2px;
  padding:0px;
  text-align:center;
  opacity:80%;
  font-size:150%; 
}

.wallaby-desc {
  color:white;
  background-color:green;
  position:fixed;
  width:500px;
  left:700px;
  top:260px;
  font-size:100%;
  border-style: solid;
  border-color:black;
  border-width:2px;
  padding:0px;
  text-align:center;
  opacity:80%;
  font-size:150%;
}

.wombat-desc {
  color:white;
  background-color:green;
  position:fixed;
  width:500px;
  left:700px;
  top:240px;
  font-size:100%;
  border-style: solid;
  border-color:black;
  border-width:2px;
  padding:0px;
  text-align:center;
  opacity:80%;
  font-size:150%;
}